<%- include("./partials/head.ejs") %>
<a href="/products">Back to Index Page</a>
<form action="/products/<%=product._id%>?_method=PUT" method="POST">
  Name: <input type="text" name="name" value="<%product.name%>" /> Description:
  <input type="text" name="description" value="<%product.description%>" /> IMG
  Address: <input type="text" name="img" value="<%product.img%>" /> Price:
  <input type="number" name="price" value="<%product.price%>" /> Quantity:
  <input type="number" name="qty" value="<%product.qty%>" />
  <input type="submit" value="update" />
</form>
<%- include("./partials/footer.ejs") %>
