<%- include("./partials/head.ejs") %>
<nav><a href="/products/new">Add New Product</a></nav>
<h1>Products</h1>
<ul>
  <% product.forEach(product => { %>
  <li><a href="/products/<%=product._id;%>"><%=product.name%></a></li>
  <% }) %>
</ul>
<%- include("./partials/footer.ejs") %>
